{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block content%}
<section id="show-breadcrumb">
  <div class="other-cover-bg">
      <div class="container">
        <h3 class="cover-title">Contact</h3>
      </div>  
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <div class="contact-form">
            <form action="" method="POST">
            {% csrf_token %}
               {{ form.as_p}}
                <div class="mx-auto">
                <button type="submit" class="btn btn-primary text-right">Submit</button></div>
            </form>
          </div>
      </div>

      <div class="col-md-4">
        <div class="contact-info-warp">
          <div class="contact-info">
            <h6>Address</h6>
            <p>New baneshwor, Kathmandu</p>
          </div>
          <div class="contact-info">
            <h6>Phone</h6>
            <p>(+977) 857694904/p>
          </div>
          <div class="contact-info">
            <h6>Email</h6>
            <p>blog@gmail.com</p>
          </div>
          <div class="contact-info">
            <h6>Working time</h6>
            <p>Monday - Friday: 08 AM - 06 PM</p>
          </div>
        </div> 
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.2003012008836!2d85.3143569145384!3d27.711101231934983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb190162d2fb35%3A0x98eccd6cf32b17f9!2sHotel%20Annapurna!5e0!3m2!1sen!2snp!4v1609142033342!5m2!1sen!2snp" width="600" height="450" frameborder="0" style="border:0;margin-top:50px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
      
    </div>   
  </div>
</section>



{% endblock %}