{% extends 'base.html' %}
{% block title %}Home{% endblock%}
{% block content %}
{% load static%}
<section id="banner-bg">
  <div class="container">
  <div class="row">
    <div class="col-md-12 text-center bg-overlay">
      <div class="centerdiv">
        <h1>Beauty lie in the eyes of beholder</h1>
       
        <button type="button" class="btn btn-primary btn-lg"><a href="#start" class="text-secondary">Get Started</a></button>
      </div>
    </div>
  </div>
</div> 
</section>
<span id="start"> </span>
<section id="wo-section" >
  <div class="container" >
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="post-img pull-left">
              <img src="{{latest.image.url}}" class="img-responsive" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="media-body">
              <h4 class="mt-0"><a href="{% url 'blog:singlepost' latest.slug %}" target="_self">{{ latest.title }}</a></h4> 
              <span class="post-time"><i class="fa fa-clock-o"></i>{{latest.created_at}}</span>  
              <p>{{ latest.description|truncatechars:300 }}</p>   
              <a class="btn btn-primary" href="{% url 'blog:singlepost' latest.slug %}" role="button">Read More</a>    
            </div>
          </div>
        </div>
      </div><!--end of col-md-8-->

      <div class="col-md-4">
     
       <ul class="list-unstyled">
        {% for post in popular%}
        <li class="media">
          <div class="blog-image">
          <img class="mr-3" src="{{post.image.url}}" alt="Generic placeholder image">
          </div>
          <div class="media-body">
            <h5 class="mt-0 mb-1"><a href="{% url 'blog:singlepost' post.slug %}" target="_self">{{ post.title}}</a></h5>
              <span class="post-time"><i class="fa fa-clock-o"></i>{{post.created_at}}</span>          
          </div>
        </li>
       
      </ul>
      {% endfor%}
      </div><!--end of col-md-4-->

    </div> 
  </div> 
</section>

<section id="ad-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="ads">
          <img src=" {% static "blog/images/ads/ad1.jpg" %}" class="img-responsive" alt="">
         
        </div>
      </div>
      <div class="col-md-4">
        <div class="ads">
          <img src="{% static 'blog/images/ads/ad2.jpg'%}" class="img-responsive" alt="">
        </div>
      </div>
      <div class="col-md-4">
        <div class="ads">
          <img src="{% static 'blog/images/ads/ad3.jpg'%}" class="img-responsive" alt="">
        </div>
      </div>
    </div>
  </div>
</section>


<section id="popular-sec">
<div class="jumbotron bg-cover text-white">
  <div class="container">
    <h3 class="sec-heading">POPULAR POST</h3>  
    <div class="row">
      {% for post in popular%}
      <div class="col-md-4">
        <figure class="figure pop-fig">
          <img src="{{post.image.url}}" class="figure-img img-fluid" alt="A genericfigure.">
        </figure>
        <div class="fig-detail">
          <h5 class="mt-0 mb-1"><a href="single.html" target="_self">{{post.title}}</a></h5>
          <span class="post-time"><i class="fa fa-clock-o"></i>{{post.created_at}}</span> 
         
        </div>       
      </div> 
{% endfor %}
  

      </div>     
  </div>
</div>
</section>

<section id="recent-sec">
  <div class="container">
     <h3 class="sec-heading dark-color">RECENT POST</h3>  
    <div class="row">
      <div class="col-md-3">
         
      </div>
      {% for post in recent %}
      <div class="col-md-3">
         <figure class="figure pop-fig">
          <img src="{{post.image.url}}" class="figure-img img-fluid" alt="A genericfigure.">
        </figure>
         <div class="media-body">
          <h5 class="mt-0 mb-1"><a href="{% url 'blog:singlepost' post.slug%}" target="_self">{{post.title}}</a></h5>
         <span class="post-time"><i class="fa fa-clock-o"></i>{{post.created_at}}</span> 
         <p>{{post.description|truncatechars:30}}</p>
         <a class="btn btn-primary" href="{% url 'blog:singlepost' post.slug%}" role="button">Keep Reading</a>
        </div>
      </div>
      {% endfor %}
      
    </div>    
  </div> 
</section>


</section>

{% endblock %}