{% extends 'base.html' %}
{% block title %}Home{% endblock%}
{% block content %}

<section id="banner-bg">
  <div class="container">
  <div class="row">
    <div class="col-md-12 text-center bg-overlay">
      <div class="centerdiv">
        <h1>This is a beautiful background image</h1>
        <h4>You can just use the and specify the image you want to use and its height.</h4>
        <button type="button" class="btn btn-primary btn-lg">Get Started</button>
      </div>
    </div>
  </div>
</div> 
</section>

<section id="wo-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="post-img pull-left">
            <img src="images/w2.jpg" class="img-responsive" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="media-body">
              <h4 class="mt-0"><a href="{% url 'blog:singlepost' latest.slug %}" target="_self">{{ latest.title }}</a></h4> 
              <span class="post-time"><i class="fa fa-clock-o"></i>{{latest.created_at}}</span>  
              <p>{{ latest.description|truncatechars:300 }}</p>   
              <a class="btn btn-primary" href="{% url 'blog:singlepost' latest.slug %}" role="button">Read More</a>    
            </div>
          </div>
        </div>
      </div><!--end of col-md-8-->

      <div class="col-md-4">
     
       <ul class="list-unstyled">
        {% for post in popular%}
        <li class="media">
          <div class="blog-image">
          <img class="mr-3" src="images/w1.jpg" alt="Generic placeholder image">
          </div>
          <div class="media-body">
            <h5 class="mt-0 mb-1"><a href="{% url 'singlepost' post.slug %}" target="_self">{{ post.title}}</a></h5>
              <span class="post-time"><i class="fa fa-clock-o"></i>{{post.created_at}}</span>          
          </div>
        </li>
       
      </ul>
      {% endfor%}
      </div><!--end of col-md-4-->

    </div> 
  </div> 
</section>

<section id="ad-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="ads">
          <img src="images/ads/ad1.jpg" class="img-responsive" alt="">
        </div>
      </div>
      <div class="col-md-4">
        <div class="ads">
          <img src="images/ads/ad2.jpg" class="img-responsive" alt="">
        </div>
      </div>
      <div class="col-md-4">
        <div class="ads">
          <img src="images/ads/ad3.jpg" class="img-responsive" alt="">
        </div>
      </div>
    </div>
  </div>
</section>


<section id="popular-sec">
<div class="jumbotron bg-cover text-white">
  <div class="container">
    <h3 class="sec-heading">POPULAR POST</h3>  
    <div class="row">
      {% for post in popular%}
      <div class="col-md-4">
        <figure class="figure pop-fig">
          <img src="images/w4.jpg" class="figure-img img-fluid" alt="A genericfigure.">
        </figure>
        <div class="fig-detail">
          <h5 class="mt-0 mb-1"><a href="single.html" target="_self">{{post.title}}</a></h5>
          <span class="post-time"><i class="fa fa-clock-o"></i>{{post.created_at}}</span> 
         
        </div>       
      </div> 
{% endfor %}
  

      </div>     
  </div>
</div>
</section>

<section id="recent-sec">
  <div class="container">
     <h3 class="sec-heading dark-color">RECENT POST</h3>  
    <div class="row">
      <div class="col-md-3">
         
      </div>
      <div class="col-md-3">
         <figure class="figure pop-fig">
          <img src="images/w5.jpg" class="figure-img img-fluid" alt="A genericfigure.">
        </figure>
         <div class="media-body">
          <h5 class="mt-0 mb-1"><a href="single.html" target="_self">Curabitur ullamcorper ultricies nisi.</a></h5>
         <span class="post-time"><i class="fa fa-clock-o"></i>March 21, 2020</span> 
         <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo</p>
         <a class="btn btn-primary" href="#" role="button">Keep Reading</a>
        </div>
      </div>
      <div class="col-md-3">
         <figure class="figure pop-fig">
          <img src="images/w5.jpg" class="figure-img img-fluid" alt="A genericfigure.">
        </figure>
         <div class="media-body">
          <h5 class="mt-0 mb-1"><a href="single.html" target="_self">Curabitur ullamcorper ultricies nisi.</a></h5>
         <span class="post-time"><i class="fa fa-clock-o"></i>April 21, 2020</span> 
         <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo</p>
         <a class="btn btn-primary" href="#" role="button">Keep Reading</a>
        </div>
      </div>
      <div class="col-md-3">
         <figure class="figure pop-fig">
          <img src="images/w5.jpg" class="figure-img img-fluid" alt="A genericfigure.">
        </figure>
         <div class="media-body">
          <h5 class="mt-0 mb-1"><a href="single.html" target="_self">Nam eget dui. Etiam rhoncus</a></h5>
         <span class="post-time"><i class="fa fa-clock-o"></i>December 24, 2020</span> 
         <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo</p>
         <a class="btn btn-primary" href="#" role="button">Keep Reading</a>
        </div>
      </div>
    </div>    
  </div> 
</section>
<section id="newsletter">
 <div class="container">
    <div class="row">
    <div class="col-sm-12">
      <div class="content">
        <h4>SUBSCRIBE TO OUR NEWSLETTER</h4>
      <div class="input-group">
         <input type="email" class="form-control" placeholder="Enter your email">
         <span class="input-group-btn">
         <button class="btn" type="submit">Subscribe Now</button>
         </span>
      </div>
      </div><!--end of content-->
    </div>
    </div>
  </div>
</section>
<section id="footer">
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code..</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Get in touch</h6>
            <ul class="footer-location">
              <li><i class="fa fa-map-marker"></i>Address:Balkumari, Lalitpur</li>
              <li><i class="fa fa-phone"></i>Phone: 01-4277839, 01-4658585</li>
              <li><i class="fa fa-envelope"></i>Email: blogwomen@com.np</li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/about/">About Us</a></li>
              <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
              <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
              <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
              <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
         <a href="#">DeepMind Creation</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>
</section>

{% endblock %}