{% extends 'base.html' %}
{% load static %}
{% block title %}Porfolio{% endblock %}
{% block content %}
<section id="show-breadcrumb">                             
  <div class="other-cover-bg">
      <div class="container">
        <h3 class="cover-title">Portfolio</h3>
      </div>  
  </div>
</section>

<section id="portfolio">
<div class="container">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="{%if customer.profile %} {{customer.profile.image.url}} {% else %}{% static 'blog/images/blankdp.jpg'%} {%endif%} " alt=""/>
                    <div class="file btn btn-lg btn-primary">
                       {{customer.full_name}}
                        <input type="file" name="file"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                               {{customer.full_name}}
                            </h5>
                            {% if customer.profile%}
                            <h6>
                               {{customer.profile.profession}}
                            </h6>
                         {%if request.user.publisher%}   <p class="proile-rating">RANKINGS : <span>{{user.publisher.rating}}/10</span></p>{% endif%}
                            {% endif%}
                            
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Hobbies</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
              
                {% if request.user.customer.profile %}
                <a  href="{% url 'blog:profileedit' request.user.customer.profile.id %}" class="profile-edit-btn">Edit Profile</a>
                
                {% else %}
                  <a  href="{% url 'blog:profileadd'%}" class="profile-edit-btn" name="btnAddMore" >Add Profile</a>
                {% endif %}

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="most-readed m-top">
          <h3 class="heading">Most Readed</h3>
          <ul class="list-group cat-item-list">
          {% for article in articles %}
          <li class="list-group-item"><a href="{% url 'blog:singlepost' article.post.slug%}">{{article.post.title}}</a></li>      
        {% endfor %}    
          </ul>
        </div> 
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                {%if customer.profile%}
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{customer.profile.name}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label> Secondary Email </label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{customer.profile.secondary_email}}</p>
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col-md-6">
                                        <label>Primary Email </label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{customer.user.email}}</p>
                                    </div>
                                </div>
                               
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Profession</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{customer.profile.profession}}</p>
                                    </div>
                                </div>
                                  <div class="row">
                                    <div class="col-md-6">
                                        <label>Currently Working</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{customer.profile.currently_working}}</p>
                                    </div>
                                </div>
                                {% endif %}
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                
                                  <div class="row">
                            <div class="col-md-12">
                                <label>Your Bio</label><br/>
                                <p>{{customer.profile.description}}</p>
                            </div>
                        </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Experience</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{customer.profile.experience}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Hourly Rate</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{customer.profile.hourtly_rate}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Total Projects</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{customer.profile.total_projects}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>English Level</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{customer.profile.english_level}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Availability</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{customer.profile.availability}}</p>
                                    </div>
                                </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </form>           
</div>
</section>



    {% endblock %}