{% extends 'base.html' %}
{% block content%}

<section id="show-breadcrumb">
  <div class="other-cover-bg">
      <div class="container">
        <h3 class="cover-title">Health</h3>
      </div>  
  </div>
</section>

<section id="single-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="singlepage-left">
        <div class="article-tops">
          <div class="single-title">
            <h1 class="single-heading">{{single.title}}</h1>
          </div>
          <div class="author-info">
            <a href="#" class="author">{{single.publisher.full_name}}</a>
            <div class="pub-time">{{single.created_at}}</div>
          </div>
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div><!---end of article-tops-->

        <div class="single-img">
        <img src="{{single.image.url}}" class="img-fluid" alt="Responsive image">
        </div>
        <div class="single-content">
          <p class="text-justify">{{single.description}}</p>
        </div>
      </div><!--end of single-page-left-->    
      </div>

      <div class="col-md-4">
        <div class="vertical-ad-section m-top">
          <div class="ads m-bottom">
            <img src="images/ads/ad2.jpg" class="img-responsive" alt="">
          </div>
          <div class="ads m-bottom">
            <img src="images/ads/ad3.jpg" class="img-responsive" alt="">
          </div> 
        </div>
        <div class="sidebar-categories-box">
          <h3 class="heading">Categories</h3>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Health<span class="times">(12)</span></li>
            <li class="list-group-item">Culture<span class="times">(7)</span></li>
            <li class="list-group-item">Motherhood<span class="times">(12)</span></li>
            <li class="list-group-item">Travel<span class="times">(12)</span></li>
            <li class="list-group-item">Lifestyle<span class="times">(12)</span></li>
          </ul>
        </div>
      </div>

    </div>
    <hr class="line">
  </div>
</section>

<section id="related articles">
  <div class="container">
    <h2 class="single-similar-title m-bottom">Similar Posts</h2>
    <div class="row">
    {% for post in similar %}
      <div class="col-md-4">
         <figure class="figure pop-fig">
          <img src="{{ post.image.url }}" class="figure-img img-fluid" alt="A genericfigure.">
        </figure>
         <div class="media-body">
          <h5 class="mt-0 mb-1"><a href="{% url 'blog:singlepost' post.slug %}" target="_self">{{post.title}}</a></h5>
         <span class="post-time"><i class="fa fa-clock-o"></i>{{post.created_at}}</span> 
         <p>{{ post.description|truncatechars:30}}</p>
         <a class="btn btn-primary" href="{% url 'blog:singlepost' post.slug %}" role="button">Keep Reading</a>
        </div>
      </div>
  {% endfor %}
   
      </div>
    </div>
  </div>
</section>



{% endblock%}